<div class="modal fade" id="exampleModalToggle" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los grupos -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                    Grupos
                </h1>
                <!-- boton cerrar -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- botones para acceder a los diferentes grupos -->
            <div class="modal-body">
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" 
                        data-bs-toggle="modal">
                        Natanael
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" 
                        data-bs-toggle="modal">
                        Simon
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle5" 
                        data-bs-toggle="modal">
                        Felipe
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle6" 
                        data-bs-toggle="modal">
                        Andres
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle7" 
                        data-bs-toggle="modal">
                        Tomas
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle8" 
                        data-bs-toggle="modal">
                        NN
                    </button>
                </div>
            </div>
            <!-- boton para acceder al modal catequistas -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" 
                    data-bs-toggle="modal">
                    Catequistas
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los catequistas -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
                    Catequistas Comunion
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>Guido</p>
                <p>Gabriela</p>
                <p>Daniela</p>
                <p>Angelica</p>
                <p>Jovita</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Natanael -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel3">
                    Grupo Natanael
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Simon-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel4">
                    Grupo Simon
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle5" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel5" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Felipe-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel5">
                    Grupo Felipe
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle6" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel6" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Andres-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel6">
                    Grupo Andres
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle7" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel7" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Tomas-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel7">
                    Grupo Tomas
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle8" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel8" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo nn-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel8">
                    Grupo NN
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle9" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel9" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel9">
                    Grupo Natanael
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<!-- boton pdel navbar -->
<button class="btn btn-outline-primary " data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
    Catequesis Familiar
</button>