<div class="modal fade" id="exampleModalTogglec" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabelc" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los grupos -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabelc">
                    Grupos
                </h1>
                <!-- boton cerrar -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- botones para acceder a los diferentes grupos -->
            <div class="modal-body">
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle3c" 
                        data-bs-toggle="modal">
                        1
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle4c" 
                        data-bs-toggle="modal">
                        2
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle5c" 
                        data-bs-toggle="modal">
                        3
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle6c" 
                        data-bs-toggle="modal">
                        4
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle7c" 
                        data-bs-toggle="modal">
                        5
                    </button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle8c" 
                        data-bs-toggle="modal">
                        6
                    </button>
                </div>
            </div>
            <!-- boton para acceder al modal catequistas -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2c" 
                    data-bs-toggle="modal">
                    Catequistas
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel2c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los catequistas -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2c">
                    Catequistas Confirmacion
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>Guido</p>
                <p>Gabriela</p>
                <p>Daniela</p>
                <p>Angelica</p>
                <p>Jovita</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel3c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Natanael -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel3c">
                    1
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle4c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel4c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Simon-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel4c">
                    2
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle5c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel5c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Felipe-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel5c">
                    3
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle6c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel6c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Andres-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel6c">
                    4
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle7c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel7c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo Tomas-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel7c">
                    5
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle8c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel8c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo nn-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel8c">
                    6
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle9c" aria-hidden="true" 
    aria-labelledby="exampleModalToggleLabel9c" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- titulo del listado de los integrantes del grupo -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel9c">
                    Grupo Natanael
                </h1>
                <!-- boton cerrarr -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>
            <!-- Listado de los catequistas -->
            <div class="modal-body">
                <p>a</p>
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
            </div>
            <!-- boton para regresar al listado de los grupos -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalTogglec" 
                    data-bs-toggle="modal">
                    Grupos
                </button>
            </div>
        </div>
    </div>
</div>
<!-- boton pdel navbar -->
<button class="btn btn-outline-primary " data-bs-target="#exampleModalTogglec" data-bs-toggle="modal">
    Confirmacion
</button>